<nav>
  <ul>
    <li>
      <a href="/admin/menu" style="text-decoration: none"
        >See All items on Menu</a
      >
    </li>
    <li>
      <span id="add-item-menu">Add Item To Menu</span>
    </li>
    <li>
      <a href="/admin/orders" style="text-decoration: none">Active Orders</a>
    </li>
    <li>
      <a href="#" style="text-decoration: none;">Pick-up Ready</a>
    </li>
  </ul>


      <a class="logout-text" href="/logout" style="text-decoration: none;">Log Out</a>
</nav>
