<nav id="admin-navbar">
  <ul>
    <li>
      <a href="#">See All items on Menu</a>
    </li>
    <li>
      <a href="#">Add Item To Menu</a>
    </li>
    <li>
      <a href="#">Active Orders</a>
    </li>
  </ul>
</nav>
