<!-- Call to Action Section -->
<section class="cta-container">
  <div class="cta-message">
    <span class="cta-question">Ready to place an order?</span
    ><span class="cta-action">Browse our menu.</span>
  </div>

  <div class="cta-menu">
    <a class="cta-menu-text" href="#main-menu-title" style="text-decoration: none;">Browse Menu</a>
  </div>

</section>
