<form method="POST" action="" id="create-menu-item-form">
  <i class="far fa-times-circle" id="close"></i>
  <h2>Create a new Item for Menu</h2>
  <label for="name">Name</label>
  <input type="text" id="name" name="name" />
  <label for="description">Description</label>
  <input type="text" id="description" name="description" />
  <label for="price">Price</label>
  <input type="text" id="price" name="price" />
  <label for="photo_url">Photo Url</label>
  <input type="text" id="photo_url" name="photo_url" />
  <label for="preparation_time">Preparation Time</label>
  <input type="text" id="preparation_time" name="preparation_time" />
  <input type="submit" value="Add Item To the Menu" />
</form>

