<!-- Features Section -->
<section class="feature-container">
  <div class="feature-text">
    <h1 class="feature-header">
      <span>Freshness</span>
      <span>Guaranteed!</span>
    </h1>
    <p class="feature-paragraph">
      Browse through our menu for a wide selection of fresh, homemade food made
      with lots of love.
    </p>
    <a
      class="browser-menu-button"
      href="#main-menu-title"
      style="text-decoration: none"
      >Browse Our Menu</a
    >
  </div>

  <div class="feature-photo-box">
    <img class="feature-photo" src="../images/feature-photo.jpeg" />
  </div>
</section>
