<div class="footer-container">
  <div class="footer-box">
    <div class="footer-top">
      <div class="footer-left-content">
        <span class="footer-privacy">Privacy</span
        ><span class="footer-conditions">Terms and Conditions</span>
      </div>
      <span class="footer-text">FOODSKIP</span>
      <div class="footer-right-content">
        <span class="footer-create-account">Create Account</span
        ><span class="footer-login">Login</span
        ><span class="footer-browse-menu">Browse Menu</span>
      </div>
    </div>
    <div class="footer-bottom">
      <span class="footer-copyright">© 2022</span>
      <span class="footer-terms">Privacy — Terms</span>
    </div>
  </div>
</div>
