<!-- Main Menu Section -->
<section class="main-menu">
  <h2 class="main-menu-header">BROWSE OUR FRESH MENU!</h2>
  <div class="all-menu-items">
    <% for (menuItem of menuItems) { %>
      <div class="menu-item-container">
        <span class="menu-item-description">menu_description (if needed)</span>
        <span class="menu-item-price">menu_item.price 1</span>
        <div class="menu-item-box"></div>
        <span class="menu-item-text"><b>menu_item</b></span>
      </div>
      <% } %>
    </div>
  <!-- The "More" Button -->
  <div class="more-menu-items">
    <div class="more-button">More</div>
    <!-- <span class="more-text">More</span> -->
  </div>
</section>
