<nav class="nav-bar-container">
  <div class="browse-menu">
    <a class="browse-menu-text" href="/menu" style="text-decoration: none">Browse Menu</a>
  </div>
  <a class="foodskip" href="/" style="text-decoration: none">
    <span class="foodskip-text">FOODSKIP</span>
    <div class="logo">
      <img class="foodskip-logo" src="./images/logo-icon.svg" />
    </div>
  </a>
  <div class="nav-bar-buttons">
    <span class="create-account-text">Create Account</span>
    <span class="login-text">Login</span>
  </div>
</nav>
