<nav class="nav-bar-container">
    <div class="browse-menu">
      <span class="browse-menu-text">Browse Menu</span>
    </div>
    <div class="foodskip">
      <span class="foodskip-text">FOODSKIP</span>
      <div class="logo">
            <img class="foodskip-logo" src="./images/logo-icon.svg"/>
          </div>
    </div>
    <div class="create-account">
      <div class="create-account-btn"></div>
      <span class="create-account-text">Create Account</span>
    </div>
    <div class="login">
      <div class="login-btn"></div>
      <span class="login-text">Login</span>
    </div>
</nav>
