<!-- Testimonial Section -->
<section class="testimonial-container-1">
  <div class="testimonials">
    <div class="testimonial-box-1">
      <div class="testimonial-user">
        - Whitney Barkhouse
        <div class="profile-picture">
          <img
            class="user-profile"
            src="https://boredhumans.b-cdn.net/faces2/405.jpg"
          />
        </div>
        <span class="testimonial-comment"
          >“foodskip is the best service ever”</span
        >
      </div>
    </div>

    <div class="testimonial-container-2">
        <div class="testimonial-box-2">
          <span class="testimonial-user"> - Wallace Martin</span>
          <div class="profile-picture">
            <img class="user-profile" src="https://boredhumans.b-cdn.net/faces2/762.jpg" />
          </div>
          <span class="testimonial-comment">“easy and reliable”</span>
        </div>
    </div>
  </div>
</section>
