nav {
  background: #fe724c;

  ul {
    display: flex;
    margin: 0 auto;
    width: 800px;
    align-items: center;
    height: 45px;
  }

  ul li {
    list-style-type: none;

    a,
    span {
      text-decoration: none;
      color: black;
      font-size: 1.2rem;
      margin-right: 25px;
    }
    a:hover,
    span:hover {
      color: white;
      cursor: pointer;
    }
  }
}
