.cta-container {
	width:1440px;
	height:240px;
	position:absolute;
	top:198px;
}
.cta-box {
	background-color:#FE724C;
	width:1440px;
	height:240px;
	position:absolute;
}
.cta-menu {
	width:200px;
	height:48px;
	position:absolute;
	left:1059px;
	top:81px;
}
.cta-menu-button {
	background-color:black;
	width:200px;
	height:48px;
	position:absolute;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.cta-menu-text {
	color:#ffffff;
	width:151px;
	height:22px;
	position:absolute;
	left:25px;
	top:13px;
	font-family:Roboto;
	text-align:center;
	font-size:18px;
}
.cta-message {
	width:355px;
	height:79px;
	position:absolute;
	left:235px;
	top:75px;
}
.cta-question {
	color:black;
	width:355px;
	height:45px;
	position:absolute;
	font-family:Roboto;
	text-align:left;
	font-size:32px;
}
.cta-action {
	color:black;
	width:194px;
	height:34px;
	position:absolute;
	top:45px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
}
