.cta-container {
  padding: 3rem;
  background-color: #fe724c;
  display: flex;
  justify-content: space-around;
}

.cta-message {
  display: flex;
  flex-direction: column;
}
.cta-question {
  color: black;
  font-family: Roboto;
  text-align: left;
  font-size: 35px;
  font-weight: bold;
}
.cta-action {
  color: black;
  font-family: Roboto;
  text-align: left;
  font-size: 20px;
  font-weight: lighter;
}
.cta-menu {
  color: white;
  background-color: black;
  width: fit-content;
  padding: 2rem 3rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
.cta-menu-text {
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
}

.cta-menu:hover {
  opacity: 0.8;
  background-color: black;
  color: white;
}

.cta-menu:focus-visible,
.cta-menu:active {
  box-shadow: 0 0 0 0.2rem #131313;
  -webkit-box-shadow: 0 0 0 0.2rem #131313;
}
