.feature-container {
	width:1440px;
	height:700px;
	position:absolute;
	left:0px;
	top:64px;
}
.feature-body {
	background-color:#FE724C;
	width:1440px;
	height:700px;
	position:absolute;
	left:0px;
	top:0px;
}
.feature-highlight-border {
	border: 2px solid black;
	width: 650px;
	height: 522px;
	position:absolute;
	left:730px;
	top:127px;
}
