.footer-container {
	width:100vw;
	height:410px;

}
.footer-box {
  padding: 2rem 0;
	background-color:black;
  

}
.footer-top {
  display:flex;
  justify-content: space-evenly;
}
.footer-left-content {
display:flex;
justify-content: space-around;
align-items: center;
}
.footer-privacy {
  color:#FFFFFF;
  padding: 0 1rem;
  // width:47px;
  // height:20px;
  font-family:Roboto;
  // text-align:left;
  font-size:14px;
}
.footer-conditions {
  color:#FFFFFF;
  // width:139px;
  // height:15px;
  // left:129px;
  // top:2px;
  font-family:Roboto;
  // text-align:left;
  font-size:14px;
}
.footer-text {
	color:#FFFFFF;
	// width:115px;
	// height:29px;
	// left:663px;
	// top:111px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
}
.footer-right-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // width:282px;
  // height:20px;
  // left:878px;
  // top:115px;
}
.footer-create-account {
  color:#FFFFFF;

	// width:98px;
	// height:20px;
  padding: 0 1rem;
	font-family:Roboto;
	// text-align:left;
	font-size:14px;
}
.footer-login {
  color:#FFFFFF;
  padding: 0 1rem;
	// width:36px;
	// height:20px;
	// left:129px;
	font-family:Roboto;
	// text-align:left;
	font-size:14px;
}
.footer-browse-menu {
  color:#FFFFFF;

  padding: 0 1rem;
	// width:86px;
	// height:20px;
	// left:196px;
	font-family:Roboto;
	// text-align:left;
	font-size:14px;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.footer-copyright {
  color:#FFFFFF;
  padding: 0 1rem;
  // width:46px;
  // height:20px;
  // left:637px;
  // top:356px;
  font-family:Roboto;
  text-align:center;
  font-size:14px;
}
.footer-terms {
  color:#FFFFFF;
  // width:103px;
  // height:20px;
  // left:692px;
  // top:356px;
  font-family:Roboto;
  text-align:center;
  font-size:14px;
}
