#create-menu-item-form {
  margin-bottom: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 300px;
  box-shadow: 0px -1px 64px -3px rgba(0, 0, 0, 0.61);
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  display: none;
  flex-direction: column;

  i {
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    right: 30px;
  }

  i:hover {
    color: red;
  }

  h2 {
    margin-top: 30px;
  }

  input {
    display: block;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    height: 25px;
  }

  input:last-child {
    background: #fe724c;
    border: none;
    padding: 10px 25px;
    font-size: 1.2rem;
    height: auto;
  }
}
