body {
  position: absolute;
}

.main-menu {
  position: relative;
  height: 100%;
  top: 64px;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.all-menu-items {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.menu-item-container {
  width: 30rem;
  padding: 1rem;
  margin: 1rem;
}
.menu-item-description {
	color:black;
	font-family:Work Sans;
	font-size:15px;
}
.menu-item-price {
	color:black;
	font-family:Work Sans;
	text-align:center;
	font-size:24px;
}
.menu-item-box {
	background-color:black;
  max-width: 100%;
  height: auto;

}
.menu-item-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.menu-item-text {
  text-align: start;
  color:black;
	font-family:Work Sans;
	font-size:33px;
}

.more-menu-items {
	width:140px;
	height:40px;
	position:absolute;
	left:1236px;
	top:2436px;
}
.more-button {
	background-color:black;
	width:140px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.more-text {
	color:white;
	width:91px;
	height:16px;
	position:absolute;
	left:25px;
	top:12px;
	font-family:Roboto;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
