.rating-container {
	width:1440px;
	height:268px;
	position:absolute;
	left:0px;
	top:2513px;
}
.rating-box {
	background-color:#D7D7D7;
	width:1440px;
	height:266px;
	position:absolute;
	left:0px;
	top:0px;
}
.rating-icons-box {
	width:532px;
	height:63px;
	position:absolute;
	left:454px;
	top:103px;
}
.rating-icon-1 {
	background-color:black;
	width:63px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:31px;
	border-top-right-radius:31px;
	border-bottom-left-radius:31px;
	border-bottom-right-radius:31px;
}
.rating-icon-2 {
	background-color:black;
	width:63px;
	height:63px;
	position:absolute;
	left:94px;
	border-top-left-radius:31px;
	border-top-right-radius:31px;
	border-bottom-left-radius:31px;
	border-bottom-right-radius:31px;
}
.rating-icon-3 {
	background-color:black;
	width:63px;
	height:63px;
	position:absolute;
	left:188px;
	border-top-left-radius:31px;
	border-top-right-radius:31px;
	border-bottom-left-radius:31px;
	border-bottom-right-radius:31px;
}
.rating-icon-4 {
	background-color:black;
	width:63px;
	height:63px;
	position:absolute;
	left:282px;
	border-top-left-radius:31px;
	border-top-right-radius:31px;
	border-bottom-left-radius:31px;
	border-bottom-right-radius:31px;
}
.rating-icon-5 {
	background-color:black;
	width:63px;
	height:63px;
	position:absolute;
	left:376px;
	border-top-left-radius:31px;
	border-top-right-radius:31px;
	border-bottom-left-radius:31px;
	border-bottom-right-radius:31px;
}
.rating-icon-6 {
	background-color:black;
	width:63px;
	height:63px;
	position:absolute;
	left:469px;
	border-top-left-radius:31px;
	border-top-right-radius:31px;
	border-bottom-left-radius:31px;
	border-bottom-right-radius:31px;
}
.rating-text {
	color:black;
	width:245px;
	height:34px;
	position:absolute;
	left:598px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
}
