.rating-container {
  background-color: #d7d7d7;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7rem;
}
.checked {
  color: orange;
}

.rating-icons-box {
  color: white;
  display: flex;
  justify-content: center;

}
.rating-text {
  color: black;
  font-family: Roboto;
  text-align: center;
  font-size: 24px;
}

